<h1>Editing attempt answer</h1>

<%= render "form", attempt_answer: @attempt_answer %>

<br>

<div>
  <%= link_to "Show this attempt answer", @attempt_answer %> |
  <%= link_to "Back to attempt answers", attempt_answers_path %>
</div>
