// Entry point for your Sass build

@import "components/form";
@import "components/table";

* {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

textarea {
  min-width: 360px;
  min-height: 6em;
}
