<h1><%= @quiz %></h1>

<div class="my-2">
  Participant: <%= @attempt.name %>
</div>

<% unless @quiz.desc.blank? %>
  <div class="my-4 p-4 bg-slate-200">
    <%= simple_format @quiz.desc %>
  </div>
<% end %>


<%= render 'form' %>
